/********** GENERAL STYLES **********/
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
}
.title {
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}
body {
    background-color: #f8f3ea;
    overflow: hidden;
}
/********** HOMEPAGE **********/
.home {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(10deg, #097be6,  #1736d4, #0d0dd4, #0b1961,  #000000, #000, #000 ); */
    background: radial-gradient(ellipse at left,#0b1961, #000,  #000000);
    overflow: hidden;
    background-size: 400% 400%;
    position: relative;
    animation: fading 15s ease-in-out ;
    position: fixed;
    /* display: none; */
    z-index: 2;
}
/* background animation */
@keyframes fading {
    0%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 25% 25%;
    }
    100%{
        background-position: 0% 0%;
    }
}
.home .intro{
    color: white;
    position: fixed;
    line-height: 1.5;
    top: 33%;
    left: 50%;
    position: absolute;
    margin: 15px;
}
.home .intro h1 {
    font-size: 2em;
    font-family: Fantasy;
    font-style: Oblique;
    font-weight: 600;
    animation: fadeIn 5s;
}
.home .intro h3 {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    animation: fadeIn 6s;
}
.home .sittingImg {
    width: 150px;
    top: 80%;
    left: 15%;
    position: absolute;
    filter: invert(100%);
    animation: fadeIn 3s;
}
#enter {
    font-size: 1.5em;
    background: none;
    color: rgb(111, 236, 238);
    position: absolute;
    top: 65%;
    left: 60%;
    cursor: pointer;
    animation: fadeIn 10s;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* phone style for home css */
@media only screen and (max-width: 600px) {
    .home .intro{
        top: 30%;
        left: 50%;
        margin: 20px;
        font-size: 0.5em;
    }
    .home .sittingImg {
        width: 100px;
    }

}
/********** SHOOTING STARS **********/
.home .stars .star {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateZ(45deg);
}
.home .stars .star span {
    width: 170px;
    height: 2px;
    display: block;
    background-image: linear-gradient(to right, #fff, transparent);
    margin: 50px;
    margin-bottom: 150px;
    position: relative;
    animation: shooting 2s linear infinite;
    opacity: 0;
    filter: drop-shadow(0 0 6px rgb(122, 168, 255));
}
.home .stars .star span::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 3px;
    background-color: #fff;
    box-shadow: 0 0 6px #fff;
    border-radius: 50px;
}
.home .stars .star:nth-child(2) {
    right: 80rem;
}
.home .stars .star:nth-child(2) span {
    animation: shooting 20s linear infinite;
    animation-delay: 1s;
}
.home .stars .star:nth-child(3) {
    right: 70rem;
}
.home .stars .star:nth-child(3) span {
    animation-delay: 2s;
}
.home .stars .star:nth-child(4) {
    right: 60rem;
}
.home .stars .star:nth-child(4) span {
    animation: shooting 4s linear infinite;
    animation-delay: 3s;
}
.home .stars .star:nth-child(5) {
    right: -350px;
}
.home .stars .star:nth-child(5) span {
    animation-delay: 2s;
}
.home .stars .star:nth-child(6) {
    right: 550px;
}
.home .stars .star:nth-child(6) span {
    animation-delay: 4s;
}
.home .stars .star:nth-child(7) {
    right: 50rem;
}
.home .stars .star:nth-child(7) span {
    animation: shooting 1s linear infinite;
    animation-delay: 4s;
}
.home .stars .star:nth-child(8) {
    right: 750px;
}
.home .stars .star:nth-child(8) span {
    animation-delay: 5s;
}
.home .stars .star:nth-child(9) {
    right: -150px;
}
.home .stars .star:nth-child(9) span {
    animation: shooting 3s linear infinite;
    animation-delay: 5s;
}
.home .stars .star:nth-child(10) {
    right: 250px;
}
.home .stars .star:nth-child(10) span {
    animation: shooting 3s linear infinite;
    animation-delay: 4s;
}
@keyframes shooting {
    0% {
        transform: translateY(-200px) rotate(-90deg);
        opacity: 1;
    }
    100% {
        transform: translateY(30rem) rotate(-90deg);
        opacity: 0;
    }
}
/********** ABOUT ME **********/
.aboutMe{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 30%;
}
.profileImg {
    width: 100%;
    margin: 1rem;
    height: auto;
}
.aboutMe .container {
    flex-direction: column;
}
.name {
    font-size: 2em;
    /* position: absolute; */
    /* top: 3em; */
    text-align: center;
}
#bio {
    font-size: 1.5em;
    padding: 3rem;
    text-align: justify;
}
@media only screen and (max-width: 600px) {
    .aboutMe {
        flex-direction: column;
    }
    .imgContainer {
        text-align: center;
    }
    .profileImg {
        width: 80%;
    }
    
    .name {
        position: relative;
        top: 0;
    }
}
/********** PROJECTS **********/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: max-content;
    margin: 40px 0;
    flex-direction: row;
}
.container .card{
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
}
.container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #b2bfcf;
    border: 2px solid #85c1e5;
    border-radius: 15px;
    /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5); */
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .box:hover{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0, 0, 100, 0.5);
}
.container .card .box .content {
    padding: 20px;
    text-align: center;
}
.container .card .box .content h2 {
    font-size: 1.5em;
    font-weight: 600;
    padding: .5em;
}
.container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.container .card:nth-child(1) .box .content a{
    background: #2196f3;
}
.container .card:nth-child(2) .box .content a{
    background: #67bd21;
}
.container .card:nth-child(3) .box .content a{
    background: #9d17a4;
}
.container .card:nth-child(4) .box .content a{
    background: #a41717;
}
.container .card:nth-child(5) .box .content a{
    background: #a47e17;
}
/* 
Theme Name: Portfolio Website
Description: This is Teofilo Callanaupa's portfolio website
Author: Teofilo Callanaupa
LinkedIn: https://www.linkedin.com/in/teofilocallanaupa/
Tags: Portfolio, Website, CSS, HTML
*/